*.class

# Package Files #
*.jar
*.war
*.ear

target
*.bak
*.swp
*~
bin

#Eclipse stuff
.metadata
.settings
.classpath
.project
hs_err_pid*.log

#IntelliJ stuff
.idea
*.iml

#test files
x
xx
y
yy
z
zz

#Pig/Hive/Hadoop logs
pig_*.log
SecurityAuth-*.audit
hadoop*.log
*-audit.log
rm-appsummary.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Docker
docker/_m2/repository/
